* {
  box-sizing: content-box;
}
html {
  width: 100vw;
  min-height: 100%;
}
body {
  background-color: #7394bf;
  width: 100vw;
  min-height: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a:hover{
  color: grey;
}
a {
  color: #000;
  font-family: Felix Titling;
}

.navigation {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  width: 100vw;
}

.logo {
  max-width: 30%;
  object-position: center;
}

.links {
  margin-top: 30px;
}
.row-1 {
  align-content: center;
  width: 100vw;
}

.main {
  width: 100vw;
  margin: 10px;
  padding: 0px;
}

.jumbotron {
  background-image: url("./public/assets/img/1.jpg");
  background-size: cover;
  background-position: center;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: white;
  width: 100vw;
  padding-left: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.card {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}
.card-img {
  width: 240px;
  height: 240px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
}

.container {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.list-group-item.active {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

.carousel-container {
  background-color: #fff;
  display: unset;
}

.card-img-carousel {
  height: 240px;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
}

.icon-row {
  width: 100vw;
  padding-bottom: 0px;
}
.icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-text {
  font-weight: bolder;
  font-size: 23px;
  text-align: center;
}

.footer {
  width: 100vw;
}

.gallery {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.icon-link:hover {
  color: grey, transparent(50%);
  
}

.display-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: ;
}

.lead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-header{
  text-align: left;
  color:  rgb(138, 135, 135);
  margin-top: 20px;
}

.form-sub-header{
  text-align: left;
  color:  rgb(138, 135, 135);
  margin-top: 20px;
  font-size: 1rem;
  line-height: 25px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.form-title {
  color:  rgb(138, 135, 135);
  margin-top: 20px;
}

.btn-primary {
  background-color: #7394bf;
  border-color: #7394bf;
}

.submit-btn {
  min-width: 200px;
}

.btn {
  border-radius: 90px;
}

.submit-row{
  display: flex;

  margin-top: 20px;
}

.input-group {
  margin-top: 10px;
}

.dropdown-item {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-toggle{
  border-radius: 10px;
  border-color: #ced4da;
  border-right-color: #fff;
}

.agency-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #fff;
}

.profile-text {
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
}

.profile-text-title {
  font-weight: bolder;
}

.profile-text-row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text-end {
  font-weight: bolder;
}