/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #7394bf;
}

.bg-dark {
  background-color: #ffffff!important;
}

.navbar-brand-img {
  height: 15vh;

}

.nav-tab {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  width: max-content;
  font-size: 20px;
}

.nav-link {
  margin-left: auto;
  margin-right: 2vmax;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-transform: uppercase;
}

.carousel-text {
  font-size: 40pt;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 28rem;

}

.carousel-btn {
  border-radius: 30px;
  background-color: #7394bf;
  border-color: #7394bf;
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.img-text {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 23px;
}

.bd-placeholder-img {
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
}
/* Featurettes
------------------------- */
.featurette {
  margin-top: 20px;
}
.featurette-divider {
  margin: 0 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -.05rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-col {
  width: 100vw;
  color: black;
  background-color: #FFFFFF;
}

.about-col p {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 21px;
}

.profile-text {
  font-weight: bold;
  font-size: 21px;
}

.lead {
  font-size: 21px;
}

.gallery-caption{
  position: sticky;

  color: #ffffff;
  background-color: grey;
  transform: translateY(230px) rotate(330deg);
  -ms-transform: rotate(330deg); /* IE 9 */
  opacity: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-img-carousel {
  max-width: 100%;
  max-height: 100%;
}

.card-gallery {
  margin: 0px!important;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px;
  border-radius: 0px;
}

.gallery-items {
  height: 280px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .featurette-heading {
    font-size: 23px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 440px) {
  

  .carousel-text {
    font-size: 1.5rem;
  }
  .bd-placeholder-carousel-img {
    height: 50vh;
  }
  .carousel {
    height: 50vh;
  }
  .carousel-inner {
    height: 50vh;
  }
  .carousel-item {
    height: 50vh;
  }
  .gallery-caption{
    width: 700px;
    transform: translateX(-100px) translateY(100px) rotate(330deg);
    -ms-transform: rotate(330deg); /* IE 9 */
    
  }
}